body, html {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 15px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
    background: #FFE36C; 
    border: 1px solid black;
    border-radius: 10%;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #61497B; 
}

#companySign {
    color: #ffffff;
    font-family: Calibri;
    transform: translate(100%);
}

#navbarLinks {
    transform: translate(-60%);
}

#navbarLinks > a {
    font-weight: bold;
    color: #ffffff;
}

#home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('images/background_2.jpg');
    color: hsl(0, 0%, 100%);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

.desc {
    margin: 10%;
}

.content {
    margin: 10%;
    float: left;
    transform: translateY(4em);
}

.content > button {
    border-radius: 10%;
    padding: 20px;
    background-color: #FEE259;
    border: #FEE259;
    font-weight: bold;
}

.content > button:hover {
    cursor: pointer;
    background-color: #0000FF;
    color: white;
    transition-duration: 0.5s;
}

#welcome > h1 {
    text-align: center;
    color: #000000;
}

#welcome > .row {
    margin: 5%;
    margin-bottom: 0;
}

#umbrella {
    transform: translateX(50%);
}

.features > .row {
    text-align: center;
    margin: 5%;
    margin-top: 0;
    padding: 4em;
}

#two {
    border-left: 0.5px solid gray;
    border-right: 0.5px solid gray;
}

.features > .row > .col-12 > i {
    color: #ffffff;
    position: relative;
    background-color: #61497B;
    padding: 15px;
    border-radius: 50%;
}

button {
    padding: 15px;
    background-color: #FEE259;
    border: #FEE259;
    font-weight: bold;
    border: 1px solid #000000;
}

button:hover {
    cursor: pointer;
    background-color: #61497B;
    color: white;
    transition-duration: 0.5s;
}

hr {
    margin: 0 20% 0 20%;
}

#projects {
    margin: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
    text-align: center;
}

#projects > h1 {
    text-align: center;
}

.projectTemplate:hover {
    background-color: #FFE36C;
    transition-duration: 1s;
    cursor: pointer;
}

#pricing {
    margin: 15%;
    margin-bottom: 5%;
    margin-top: 5%;
    text-align: center;
}

#videoProjects {
    margin-bottom: 5%;
    background-color: #61497B;
    color: #ffffff;
    text-align: center;
}

#team {
    margin: 10%;
    margin-bottom: 5%;
    text-align: center;
}

#team > .profile {
    height: 15%;
    width: 15%;
    border-radius: 50%;
    float: inline;
    margin: 5%;
}

#gallery {
    text-align: center;
    margin: 10%;
}

.carousel img {
    height: 500px;
    margin: 0 auto;
}

#newsletter {
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/newsletter.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2%;
}

#newsletter > h1 {
    color: hsl(0, 0%, 100%);
    margin: 2%;
    padding: 2%;
}

#newsMail {
    padding: 15px;
    width: 40%;
}

#blog {
    text-align: center;
}

#blog > .row {
    margin: 5%;
}

.blogpic {
    height: 40%;
    width: 40%;
    border-radius: 10%;
}

#date {
    color: #808080;
}

#contact {
    padding: 2%;
}

#form {
    background-color: #FFE36C;
    padding: 5%;
    line-height: 1.2em;
}

input {
    padding: 2%;
    width: 60%;
}

#sendButton {
    width: 60%;
    background-color: #61497B;
    color: #ffffff;
    border: 1px solid #000000;
}

#sendButton:hover {
    cursor: pointer;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
}

footer > .row {
    padding: 10% 20% 5% 20%;
}

#footerLinks > a{
	border-radius: 100%;
	margin: 0 10px;
	transition: all 0.15s linear;
	transform: scale(1);
    color: white;
	display: inline-block;
	font-size: 1.3em;
	padding: 10px;
	width: 45px;
	height: 45px;
	text-align: center;
	line-height: 1.25;
}

#footerLinks > a:hover {
	transform: scale(1.5);
    cursor: pointer;
}